@font-face {
    font-family: 'CustomFont';
    src: url('font/VCR_OSD_MONO_1.001.woff2') format('woff2'), /* Modern Browsers */
         url('font/VCR_OSD_MONO_1.001.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}df

title {
    flex-basis: calc(100% - 20px);
    color: #D5B1BD;
    margin: 10px;
    padding: 20px;
    border: 1px solid #551C2F;
    border-radius: 5px;
    background-color: #AA7184;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro {
    background-color: #551C2F;
    padding: 50px 0;
    text-align: center;
}

.intro form {
    margin-top: 20px;
}

.intro input[type="text"] {
    padding: 10px;
    width: 200px;
}

.intro button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.intro button:hover {
    background-color: #555;
}

header {
    background-color: #330917;
    color: #FFCBDC;
    padding: 10px 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 70px; /* Increase the height of the logo */
    width: auto;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #D5B1BD;
    text-decoration: none;
}

main {
    padding: 50px 0;
}

.projects {
    margin-bottom: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Set the grid to auto-fill columns */
    grid-gap: 20px;
}

.project {
    border: 1px solid #551C2F;
    padding: 20px;
    background-color: #AA7184; /* Set background color for projects */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content vertically */
    align-items: center;
    text-align: center;
    position: relative; /* Ensure proper positioning of image container */
    overflow: hidden; /* Hide overflow to maintain square shape */
    margin-bottom: 20px; /* Add margin to create space between projects */
    transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
}

.project:hover {
    transform: scale(1.1); /* Enlarge by 10% on hover */
}

.project img {
    max-width: 100%; /* Ensure image fits within container */
    max-height: 100%; /* Ensure image fits within container */
    object-fit: contain; /* Maintain aspect ratio and fit within container */
    margin-bottom: 10px; /* Add space between image and text */
}

.project-text {
    width: 100%; /* Ensure text spans the full width */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add ellipsis for text overflow */
    white-space: nowrap; /* Prevent text from wrapping */
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.text-box {
    flex-basis: calc(100% - 20px);
    color: #D5B1BD;
    margin: 10px;
    padding: 20px;
    border: 1px solid #551C2F;
    border-radius: 5px;
    background-color: #AA7184;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    flex-basis: 30%;
    margin: 10px;
}

.profile-picture img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture, .text-box {
        flex-basis: 100%;
    }
}

.container h2 {
    margin-bottom: 20px;
}

.contact-info .text-box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin-bottom: 10px;
}

.project-details {
    display: flex;
}

.project-box {
    border: 1px solid #551C2F;
    background-color: #330917;
    color: #FFCBDC;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.project-content {
    display: flex;
}

.project-image {
    flex: 1;
}

.project-image img {
    max-width: 100%;
    height: auto;
}

.project-info {
    flex: 1;
    padding: 20px;
}

.project-info h2 {
    margin-top: 0;
}

.project-info ul {
    list-style-type: none;
    padding: 0;
}

.project-info ul li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}